* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

canvas {
    border: 0.1px solid gray;
}

.canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100dvw;
    height: 100dvh;
    
    /*NO TAPS VOLUNTARIAS*/
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    touch-action: none;
    -webkit-touch-callout: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    
}